<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<!-- jQuery文件 -->
	<script type="text/javascript" src="../../plus/jquery-3.2.1.min.js"></script>

	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="../../plus/bootstrap-3.3.7-dist/css/bootstrap.min.css">

	<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
	<link rel="stylesheet" href="../../plus/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">

	<link rel="stylesheet" href="../../plus/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css">

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="../../plus/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

	<script src="../../plus/Highcharts-6.0.3/code/highcharts.js"></script>

	<script src="../../plus/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>

	<script src="../../plus/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

	<script src="../admin.js"></script>

	<!-- admin.css -->
	<link rel="stylesheet" href="../admin.css">

	<link rel="stylesheet" href="../../plus/font-awesome-4.7.0/css/font-awesome.min.css">

	<script type="text/javascript" src="../../plus/ckeditor/ckeditor.js"></script>

</head>
<body>
<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4">
				<h3 class="admin_page_title">友情链接</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<p class="small_title">
					新建链接
				</p>
				<div style="margin-top: 20px;">
					

					
					<form style="margin-left: 10px;margin-top: 20px;" id="type"> 
					  <div class="form-group" id="main_type">
					    <label style="margin-left: 1px;" for="exampleInputEmail1">链接名称</label>
					    <input style="" type="email" class="form-control" id="exampleInputEmail1" placeholder="请输入对应网站的名称">
					  </div>
					  <div class="form-group" id="main_type">
					    <label style="margin-left: 1px;" for="exampleInputEmail1">链接地址</label>
					    <input style="" type="email" class="form-control" id="exampleInputEmail1" placeholder="请输入对应网站的需要指向的URL地址">
					  </div>

					  <div class="form-group" id="main_type">
					    <label style="margin-left: 1px;" for="exampleInputEmail1">内容介绍</label>
					    <textarea style="resize: none;" rows="8" type="email" class="form-control" id="exampleInputEmail1" placeholder="请输入对应网站的内容介绍"></textarea>
					  </div>
					  
					</form>
					
					<br>
					<button type="submit" class="btn btn-info" style="margin-left: 10px;margin-bottom: 20px;">确认添加</button>
					

				</div>
				

			</div>

			<div class="col-lg-8">

				
				<div class="row"> 
					<div  style="width: 115px;float: left;margin-left: 15px;">
						<select class="form-control">
						  <option>批量操作</option>
						  <option>编辑</option>
						  <option>屏蔽</option>
						  <option>移至回收站</option>
						  <option>彻底删除</option>
						</select>
					</div>
					<button class="btn-myself" style="float: left;">执行</button>
					
					<div style="margin-left: 20px;margin-top: 3px;">
					<a class="admin_page_title select_a" href="javascript:void(0)" style="text-decoration: none;">查看待审核的链接
						<span class="unimportant_color">(13)</span>
					</a>
					</div>
			<br>
			<div class="article_table" style="margin-top: 15px;">
				<table class="table table-striped">
				  <tr style="background-color: #dcdcdc;">
				  	<td>
				  		网站名称
				  	</td>
				  	<td >
				  		创建者（申请者）
				  	</td>
				  	<td>
				  		创建日期（申请日期）
				  	</td>
				  	<td>
				  		当前状态
				  	</td>
				  	<td>
				  		显示排序
				  	</td>
				  	
				  </tr>
				  <tr>
				  	<td>
				  		JAVA
				  	</td>
				  	<td>
				  		ROOT
				  	</td>
				  	<td >
				  		2018-1-6
				  	</td>
				  	<td>
				  		正常
				  	</td>
				  	<td>
				  		1
				  	</td>
				  	
				  </tr>
				  <tr>
				  	<td>
				  		Spring
				  	</td>
				  	<td>
				  		ROOT
				  	</td>
				  	<td >
				  		2018-1-7
				  	</td>
				  	<td>
				  		JAVA
				  	</td>
				  	<td>
				  		二级
				  	</td>
				  	
				  </tr>
				  <tr>
				  	<td>
				  		Mybatis
				  	</td>
				  	<td>
				  		ROOT
				  	</td>
				  	<td >
				  		2018-1-7
				  	</td>
				  	<td>
				  		JAVA
				  	</td>
				  	<td>
				  		三级
				  	</td>
				  	
				  </tr>
				  
				  
				</table>
				</div>
					</div>
					<div class="row page-num" style="margin-right: 10px;">
						<nav aria-label="Page navigation">
						  <ul class="pagination">
						    <li>
						      <a href="#" aria-label="Previous">
						        <span aria-hidden="true">&laquo;</span>
						      </a>
						    </li>
						    <li><a class="active" href="#">1</a></li>
						    <li><a href="#">2</a></li>
						    <li><a href="#">3</a></li>
						    <li><a href="#">4</a></li>
						    <li><a href="#">5</a></li>
						    <li>
						      <a href="#" aria-label="Next">
						        <span aria-hidden="true">&raquo;</span>
						      </a>
						    </li>
						  </ul>
						</nav>
					</div>

				</div>
			</div>
		
		
	</div>
</body>
</html>