<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<!-- jQuery文件 -->
	<script type="text/javascript" src="../../plus/jquery-3.2.1.min.js"></script>

	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="../../plus/bootstrap-3.3.7-dist/css/bootstrap.min.css">

	<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
	<link rel="stylesheet" href="../../plus/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">

	<link rel="stylesheet" href="../../plus/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css">

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="../../plus/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

	<script src="../../plus/Highcharts-6.0.3/code/highcharts.js"></script>

	<script src="../../plus/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>

	<script src="../../plus/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

	<script src="../admin.js"></script>

	<!-- admin.css -->
	<link rel="stylesheet" href="../admin.css">

	<link rel="stylesheet" href="../../plus/font-awesome-4.7.0/css/font-awesome.min.css">

	<script type="text/javascript" src="../../plus/ckeditor/ckeditor.js"></script>

</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4">
				<h3 class="admin_page_title">媒体库设置</h3>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-lg-2" style="padding-left: 20px;">
				<h4 class="admin_page_title" style="font-weight: bold;margin-top: 0px;">
					媒体库上传大小限制
				</h4>
			</div>
			<div class="col-lg-4">
		    	最多允许上传
				<input type="text" style="width: 50px;">
		    	MB的文件
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-lg-2" style="padding-left: 20px;">
				<h4 class="admin_page_title" style="font-weight: bold;margin-top: 0px;">
					媒体库后缀限制
				</h4>
			</div>
			<div class="col-lg-4">
		    	<textarea style="width: 100%"  rows="4" placeholder="不同后缀之间请使用逗号分隔，例如jpg,mp3,不要带后缀前边的点号，如果不填此项则媒体库不接受任何形式的文件上传"></textarea>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-lg-2" style="padding-left: 20px;">
				<h4 class="admin_page_title" style="font-weight: bold;margin-top: 0px;">
					缩略图大小
				</h4>
			</div>
			<div class="col-lg-4">
		    	<input type="text" style="width: 100px;float: left;margin-right: 10px;" placeholder="宽" /> 
				<p style="float: left;">X</p> 
		    	<input type="text" style="width: 100px;float: left;margin-left: 10px;" placeholder="高" /> 
			</div>
		</div>

		<br />
		<div class="row">
			<div class="col-lg-2" style="padding-left: 20px;">
				<h4 class="admin_page_title" style="font-weight: bold;margin-top: 0px;">
					图片最大分辨率
				</h4>
			</div>
			<div class="col-lg-4">
		    	<input type="text" style="width: 100px;float: left;margin-right: 10px;" placeholder="宽" /> 
				<p style="float: left;">X</p> 
		    	<input type="text" style="width: 100px;float: left;margin-left: 10px;" placeholder="高" /> 
			</div>
		</div>

		
		
</div>
</body>
</html>