<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<!-- jQuery文件 -->
	<script type="text/javascript" src="../../plus/jquery-3.2.1.min.js"></script>

	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="../../plus/bootstrap-3.3.7-dist/css/bootstrap.min.css">

	<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
	<link rel="stylesheet" href="../../plus/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">

	<link rel="stylesheet" href="../../plus/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css">

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="../../plus/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

	<script src="../../plus/Highcharts-6.0.3/code/highcharts.js"></script>

	<script src="../../plus/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>

	<script src="../../plus/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

	<script src="../admin.js"></script>

	<!-- admin.css -->
	<link rel="stylesheet" href="../admin.css">

	<link rel="stylesheet" href="../../plus/font-awesome-4.7.0/css/font-awesome.min.css">

	<script type="text/javascript" src="../../plus/ckeditor/ckeditor.js"></script>

</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4">
				<h3 class="admin_page_title">角色管理</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<p class="small_title">
					添加角色
				</p>
				<div style="margin-top: 20px;">
					
					<form style="margin-left: 10px;margin-top: 20px;" id="type"> 
					  <div class="form-group" id="main_type">
					    <label style="margin-left: 1px;" for="exampleInputEmail1">角色名称</label>
					    <input  type="email" class="form-control" id="exampleInputEmail1" placeholder="请再此输入角色名称">
					  </div>

					  <div class="form-group" id="main_type">
					    <label style="margin-left: 1px;" for="exampleInputEmail1">角色介绍</label>
					    <textarea style="resize: none;" rows="8" type="email" class="form-control" id="exampleInputEmail1" placeholder="该内容是新建角色的介绍,他只会显示在角色权限配置界面"></textarea>
					  </div>
					  
					</form>
					
				  	<button class="btn-myself" style="float: left;width: 140px;">配置角色权限(0)</button>


					<br><br>
					<br>
					<button type="submit" class="btn btn-info" style="margin-left: 10px;margin-bottom: 20px;">确认添加</button>
					

				</div>
				

			</div>

			<div class="col-lg-8">

				
				<div class="row"> 
					<div  style="width: 115px;float: left;margin-left: 15px;">
						<select class="form-control">
						  <option>批量操作</option>
						  <option>编辑</option>
						  <option>屏蔽</option>
						  <option>移至回收站</option>
						  <option>彻底删除</option>
						</select>
					</div>
					<button class="btn-myself" style="float: left;">执行</button>
					
					
					
			<br>
			<div class="article_table" style="margin-top: 25px;">
				<table class="table table-striped">
				  <tr style="background-color: #dcdcdc;">
				  	<td>
				  		角色名称
				  	</td>
				  	<td >
				  		创建时间
				  	</td>
				  	<td>
				  		查看角色介绍及角色权限
				  	</td>
				  	<td>
				  		下属用户
				  	</td>
				  	<td>
				  		权限数量
				  	</td>
				  	
				  </tr>
				  <tr>
				  	<td>
				  		管理员
				  	</td>
				  	<td>
				  		2018-1-6
				  	</td>
				  	<td >
				  		<button class="btn-myself" style="float: left;width: 100px;">点击查看</button>
				  	</td>
				  	<td>
				  		1
				  	</td>
				  	<td>
				  		10
				  	</td>
				  	
				  </tr>
				   <tr>
				  	<td>
				  		管理员
				  	</td>
				  	<td>
				  		2018-1-6
				  	</td>
				  	<td >
				  		<button class="btn-myself" style="float: left;width: 100px;">点击查看</button>
				  	</td>
				  	<td>
				  		1
				  	</td>
				  	<td>
				  		10
				  	</td>
				  	
				  </tr>
				   <tr>
				  	<td>
				  		管理员
				  	</td>
				  	<td>
				  		2018-1-6
				  	</td>
				  	<td >
				  		<button class="btn-myself" style="float: left;width: 100px;">点击查看</button>
				  	</td>
				  	<td>
				  		1
				  	</td>
				  	<td>
				  		10
				  	</td>
				  	
				  </tr>
				  
				  
				</table>
				</div>
					</div>
					<div class="row page-num" style="margin-right: 10px;">
						<nav aria-label="Page navigation">
						  <ul class="pagination">
						    <li>
						      <a href="#" aria-label="Previous">
						        <span aria-hidden="true">&laquo;</span>
						      </a>
						    </li>
						    <li><a class="active" href="#">1</a></li>
						    <li><a href="#">2</a></li>
						    <li><a href="#">3</a></li>
						    <li><a href="#">4</a></li>
						    <li><a href="#">5</a></li>
						    <li>
						      <a href="#" aria-label="Next">
						        <span aria-hidden="true">&raquo;</span>
						      </a>
						    </li>
						  </ul>
						</nav>
					</div>

				</div>
			</div>
		
		
</div>
</body>
</html>